---
import Header from '/src/pages/components/Header.astro';
import Footer from '/src/pages/components/Footer.astro';
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
    pageID: string;
}
const { pageTitle, pageDescription, pageID } = Astro.props;
---
<!doctype html>
    <html lang="en">

	<head>
  

        <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
          <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
		 <title>{pageTitle}</title>
        <meta name="description" content={pageDescription}>
        

  <script type="module">
  import { animate, inView } from "https://cdn.jsdelivr.net/npm/motion@12.23.12/+esm" //<-change to internal node


    inView(".scroll-section", (element) => {
        animate(
            element,
            { opacity: 1, y: [100, 0] },
            {
                duration: 0.9,
                easing: [0.17, 0.55, 0.55, 1],
            }
        )

        return () => animate(element, { opacity: 1})
    })
    inView(".scroll-sectionv2", (element) => {
        animate(
            element,
            { opacity: 1, x: [0, 0] },
            {
                duration: 1,
                easing: [0.17, 0.55, 0.55, 1],
            }
        )

        return () => animate(element, { opacity: 0, x: 0})
    })
</script>
<style>

  

</style>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QZ4VCLCM78"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QZ4VCLCM78');
</script>

	</head>

	<body id={pageID}>
	

 <section id="top_header">
		<div class="wrapper">
             <Header />

        </div>
</section>
    <slot />
  
    <Footer />
      </body>
</html>
