/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */


:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  line-height: 1.3;
  background-color: #f5f5f5;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--black));
  line-height: 1.2;
  
}
#about h1, #services h1, #intro h1, #expertise h1, #process h1, #competition h1, #faq h1 {
  color: black;
  font-weight: 400;
  font-size: clamp(1.6rem, 1.496rem + 0.522vw, 1.9rem);
  text-transform: uppercase;
}
#about h1, #services h1, #intro h1, #expertise h1, #process h1, #competition h1 , #faq h1 {
   background-image:  url("/src/img/main-component-svgrepo-com.svg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom left;
   display: block;
   background-size: 40px 40px;
   padding-left: 50px;
   margin-top: 0px;
   background-position: 0% 0%; 
}
#about h2, #intro h2, #intro_2 h2, #services h2, #expertise h2, #process h2, #competition h2, #faq h2 {
  font-size: clamp(2rem, 1.304rem + 3.478vw, 4rem);
  font-weight: 400; 
  text-align: left;
  color: #004aad;
  width: 100%;
}
#process h3, #faq h3 {
  font-weight: 400; 
  text-align: left;
  color: #004aad;
  font-size: 3rem;
  margin: 0px;
}
#services .right h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}
#about p, #intro p, #services p, #services ul li,  #expertise p#exp_subhead, #process .wrapper p, #competition p, #faq p {
  font-size: 2rem;
  font-weight: normal; 
  text-align: left;
  color: #004aad;
}
.me {
  font-size: clamp(1.2rem, 0.922rem + 1.391vw, 2rem);
  font-weight: normal; 
  text-align: center;
  color: #004aad;

}
.them {
  font-size: clamp(1.2rem, 0.922rem + 1.391vw, 2rem);
  font-weight: normal; 
  color: #53739d;
    text-align: center;

}
#expertise h3, #expertise p {
    color: #004aad;
}
.exp_card {
  background-color: #f5f5f5;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 15px;
  width: 400px; 
  display: block;
  margin-bottom: 30px;
} 
.exp_card h3 {
  font-size: 1.4em;
  font-weight: normal;
}
.exp_card p {
  font-size: 2em;
}
.wrapper {
  padding-top: 75px;
}
#services ul {
  padding: 0px;
  margin: 0px;
list-style-position: inside;
}
#services ul:first-of-type {
  padding-bottom: 100px;
}
section#services .wrapper .left {
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  flex: auto;
}
section#services .wrapper .right {
  display: flex;
  flex-direction: column;
  flex: auto;
}
#contact h2, #contact p {
  color: #f5f5f5;
    font-size: 2rem;
  font-weight: 500; 
  text-align: left;
}
section#services .right img {
  width: 70px;
  padding-bottom: 20px;
}
section#contact {
  background-color: #004aad;
}
section#intro_2, section#expertise, section#competition, section#about {
  background-color: #CCDFF1;
}
section .wrapper, footer .wrapper {
  width: 80%;
    margin: 0 auto;

}
#contact .wrapper, #services .wrapper, #exp_details, #process .wrapper, #competition .wrapper, #faq .wrapper {
  display: flex;
  flex-direction: row;

}
#exp_details .column  {
  display: flex;
  flex-direction: column;
  width: 33%;
}
#process .wrapper .column, #competition .wrapper .column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
 #competition .wrapper .column {
  padding-right: 100px;
 }
#faq .wrapper .column {
  display: flex;
  flex-direction: column;
}
#faq .wrapper .right {
  flex-basis: 60%;
}
#faq .wrapper .left {
  flex-basis: 40%;
}
#exp_details .right {
  padding-left: 30px;
}


#contact h2 {
  margin: 0px;
  width:80%;
}
#contact p {
  width:80%;
}
#cd_logo img, #cd_logo span {
  float: left;
}
#cd_logo {
  float: left;
}
.intro_2_item {
  width: 100%;
  display: flex;
}
.intro_2_item .column {
  flex-basis: auto;
}
.bracketed-list, .bracketed-content p {
    color: #004aad;
}
.bracketed-list {
  font-size: 2em;
  width: max-content;
}
.bracketed-content p {
  font-size: clamp(2rem, 1.304rem + 3.478vw, 4rem);
  margin: 0px;
  padding: 0px;
}
.bracketed-content {
  padding-left: 30px;
}
.intro_2_list {
  width: 75%;
}    

/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
}*/
header, section#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header .column {
  display: flex;
  flex-direction: column;
  flex: auto;
}
section#contact .column {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

nav {
  margin-left: auto;
}
nav a {
  text-decoration: none;
    color: #004aad;  
    font-size: 1.5em;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
    display: inline;
}
nav a.active {
  text-decoration: none;
}
span#company_name {
  color:#004aad;
  font-weight: bold;
  line-height: 40px;
  align-items: center;
  height: 40px;
  display: flex;
  padding-left: 10px;
  font-size: 1.5em;
}

main {
  overflow-y: auto;    
}


span.move_text{
  padding-left: 20px;
}
section, footer {
  display: flex;  
  flex-wrap: wrap;
  padding-bottom: 100px;
  width: 100%;
}
footer {
  margin: 0 auto;
}
input#name, input#email, textarea#message {
  width: 100%;
    border-left: none;
  border-right: none;
  border-top: none;  
  border-bottom: 2px solid;
  border-bottom-color: #f5f5f5;
 margin-bottom: 30px;

}
button#sub_button {
  background: none;
  text-align: left;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid;
  border-bottom-color: #f5f5f5;

}
button#sub_button:focus, button#sub_button::placeholder {
  border-bottom-color: #f5f5f5;
    border-left: none;
  border-right: none;
}
form {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: #f5f5f5;
  background-color: #004aad;  
}
 form, input#name, input#email, textarea#message, button#sub_button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500; 
  color: #f5f5f5;
 background-color: #004aad;  
 }

textarea:focus, input:focus {
    color: #f5f5f5;
      border-left: none;
  border-right: none;
}
textarea::placeholder, input::placeholder {
      color: #f5f5f5;
      background-color: #004aad;
        border-left: none;
  border-right: none;


}
footer {
      color: #f5f5f5;
      padding-bottom: 50px;
      font-weight: 700;
       background-color: #004aad;  
      
}
footer a {
        color: #f5f5f5;
        text-decoration: underline;

}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: auto;
}

th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}
.accordion {
  color: #444;
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
section#faq button {
background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
  }

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
.accord_wrap {
  border-bottom: 1px dotted #004aad;
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
 
  nav {
    display: none;
  }
  section .wrapper, footer .wrapper {
    width: 95%;
  }
  #services .wrapper, #exp_details, #process .wrapper, #competition .wrapper, #faq .wrapper, #contact .wrapper {
    flex-direction: column;  
  }
  section#services .wrapper .left {
    padding-right: 0px;
  }
  .exp_card {
    width: 100%;
    box-sizing: border-box;
  }
  #exp_details .column {
    width: 100%;
  }
  #exp_details .right {
  padding-left: 0px;
}
th, td {
  text-align: center;
  padding: 5px;
}
.employee {
  display: none;

}

}
