/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */


:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  line-height: 1.3;
  background-color: #1a1d3d;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--black));
  line-height: 1.2;
  
}
section, header p  {
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold; 
  text-align: left;
  color:  #e0eeff;
}
p.reg {
  color: #e0eeff;
}
strong,
b {
  font-weight: 700;
}
textarea {
  width: 100%;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
nav {
  display: flex;
  overflow: hidden;
}
nav a {
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav a.active {
  text-decoration: none;
}
span.exp {
  float: left;
  border-radius: 25px;
  font-size: 0.8em;
  background-color: white;
  color: #bafff6;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #006457;
}

.social-links,
.social-links a {
  display: flex;
  font-weight: bold;
  color: #cbe2fd;
  font-size: .8rem;
}
.social-links a:hover {
  color: #ededed;
}

.social-links {
  display: flex;
  gap: 1em;
  margin-top: 2em;
}
.social-links a {
  text-decoration: none;
}

img.logo {
  margin-top: 20px;
  background-color: white;
}

#about a {
  color: #626262;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  text-decoration: none;
}
.offering {
  display: flex;
  flex: 0.5 1 0%;
  flex-direction: column;
}
.service_list {
  display: flex;
  gap:15px;
  margin: 0px auto;
}
header {
  position: sticky;
  overflow: hidden;
  padding: 2em;
  flex-direction: column;
  height: fit-content;
  z-index: 1000;
  top: 0;
}
main {
  overflow-y: auto;    
  flex-direction: column;
}
.column {
  flex: 1; 
  width: 50%;
}
.wrapper {
  margin: 0 auto;
  width: 80%;
  display: flex;  
  flex-wrap: wrap;
}
.exp_card {
  display: flex;
  padding-left:15px;
  padding-right:15px;
  padding-top:15px;
  padding-bottom:15px;
  border: 1px solid rgba(74, 96, 157, 0.0);
}
/* From https://css.glass */

section#experience:hover .exp_card {
  opacity: 0.3;
}
section#experience .exp_card:hover { 
  background: rgba(74, 96, 157, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(74, 96, 157, 0.3);
  opacity: 1;
  }

  section#experience .exp_card:hover .exp_detail h3, section#services .exp_card:hover .year {
    color: #bafff6;
  }
  section#services:hover .exp_card {
    opacity: 0.3;
  }
  section#services .exp_card:hover { 
    background: rgba(74, 96, 157, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(74, 96, 157, 0.3);
    opacity: 1;
    }

    section#contact .exp_card:hover { 
      background: rgba(74, 96, 157, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(74, 96, 157, 0.3);
      opacity: 1;
      }
.year {
  flex: 25%;
  color: #e0eeff;
}
.exp_detail {
  flex: 75%;
}
.exp_detail h3 {
  padding: 0px;
  margin: 0px;
  color: #e0eeff;
  font-weight: normal;
}
.exp_detail p, .exp_detail li {

  color: #cbe2fd;
  font-weight: normal;
}
.tech {
  float: left;
}
.exp_detail ul {
  margin: 0px;
  padding-left: 0px;
}
h2.head {
  color: #cbe2fd;
  font-weight: normal;
}
span.nav_hl {
  width: 40px;
  height: 3px;
  display: block;
  background: #8ec2fe;
  transition: width 0.1s;
  margin-top:6px;
  float: left;
}
nav ul li.active span.nav_hl, nav li:hover span.nav_hl {
  width:100px;
  background: #e0eeff;
}
nav ul li a {
  color:#8ec2fe;
}
nav ul li.active a, nav li:hover a {
  color: #e0eeff;
}
span.move_text{
  padding-left: 20px;
}
section {
  margin-bottom: 100px;
}
input#name, input#email, textarea#message, button#sub_button {
  width: 100%;  
}
footer {
  color:white; 
  padding-top:30px; 
  padding-bottom:700px;
}
footer a {
  color: #cbe2fd;
  text-decoration: underline dotted;

}
footer a:hover {
  color: #01927f;
  text-decoration: underline dotted;

}
header p {
  width: 50%;
}
form {
  width: 70%;
  margin-left: 30px;
}
section#about {
  padding-top: 3em;
}
h3.mobile_header {
  padding-left: 0px;
  color: #cbe2fd;
  display: none;
  font-weight: normal;

}
@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .wrapper {
    flex-direction: column; /* Switch to single column on smaller screens */
  }
  .column {
    width: 100%; /* Each column takes up 100% width */
  }
  nav {
    display: none;
  }
  header {
    position: relative;
  }
  header p {
    width: 100%;
  }
  .exp_card {
    flex-direction: column;
    border:none;
    padding-left: 0px;
    margin: 0px;
  }
  .year {
    width: 100%; 
  }
  .exp_detail {
    width: 100%; 
  }
  header {
    padding: 0px;
  }
  form {
    padding-top: 15px;
    width: 100%;
    margin-left: 0px;
  }
  h3.mobile_header {
    display: block;
  }
  .exp_card:hover {
    display: none;
  }
  .exp_detail ul {
    margin-top: revert;
    padding-left: revert;
  }
}

/* Gradient CSS */
.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 650px;
  border-radius: 100%;
  background: #292952;
  background: radial-gradient(circle,rgba(41, 41, 82, 1) 0%, rgba(26, 29, 61, 1) 60%);  
  transition: all 0ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: -1;
}




