<footer>
						<div class="wrapper">
Site programmed in <a href="https://astro.build/" target="_blank">Astro</a> using <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>. Design shamelessly <a href="https://www.merriam-webster.com/dictionary/klepto" target="_blank">stolen</a> from many different designers. Site launched on <a href="https://www.cloudflare.com/" target="_blank">CloudFlare</a>. <br /><!-- <a target="_blank" href="">Cookie Policy.</a>--> <a href="/privacy-policy">Privacy Policy.</a>
			 </div>
</footer>