---
import { Picture } from 'astro:assets';

import logo from '/src/img/logo.svg'

---



		<header>
			<div class="column"><div id="cd_logo"> <a href="/"><Picture src={logo} alt="Carolina Digital Logo." width="40"/> <span id="company_name">Carolina Digital</span></a></div></div>
				<div class="column">
					<>
				<nav>
					<ul>
					<li class="about active"><a href="/#about"><span class="move_text">ABOUT</span></a></li>
					<li class="services"><a href="/#services"><span class="move_text"></span>SERVICES</span></a></li>
					<li class="contact"><a href="/#contact"><span class="move_text"></span>CONTACT</span></a></li>
				</ul>	
				</nav>
			</div>
		
		</header>
