---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { SITE_IMAGE } from '../consts';
import { Picture } from 'astro:assets';
import logo from './src/img/logo.svg'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<body>

	<section id="top_header">
		<div class="wrapper">
		<header>
			<div class="column"><div id="cd_logo"><img src="src/img/logo.svg" width="40px"> <span id="company_name">Carolina Digital</span></div></div>
		<Picture src={logo} alt="A description of my image." />				
				<div class="column">
					<>
				<nav>
					<ul>
					<li class="about active"><a href="#about"><span class="nav_hl"></span><span class="move_text">ABOUT</span></a></li>
					<li class="services"><a href="#services"><span class="nav_hl"></span><span class="move_text"></span>SERVICES</span></a></li>
					<li class="contact"><a href="#contact"><span class="nav_hl"></span><span class="move_text"></span>CONTACT</span></a></li>
				</ul>	
				</nav>
				<img src="src/img/67f01d2801f93345070402.jpg">
			</div>
		
		</header>
					 </div>

</section>

			<section id="intro">
						<div class="wrapper">

				<h1>Raleigh Based SEO & Paid Media Agency</h1>
				<h2>Helping local businesses connect products and services to customers, and ad dollars to profit.   
				</h2>
				<p>Greetings, I'm Jason. I am a Raleigh based paid search, paid social media and SEO expert. I have over 10 years of experience, both agency and in-house. My main focus is connecting ad spend to profit.</p>

			</section>
			<section id="intro_2">
						<div class="wrapper">

				<h2>Quick turnaround, direct support and tailored solution without big agency overhead.</h2>
				<h2>Wether you are looking for:</h2>
				<div class="intro_2_list">
				<div class="intro_2_item"><div class="bracketed-list column">[a]</div><div class="bracketed-content column"><p>Google Ads/ paid social or SEO audit</p></div></div>
				<div class="intro_2_item"><div class="bracketed-list">[b]</div><div class="bracketed-content"><p>or<br />On-going profit driven paid media/ SEO consultation</p></div></div>
				</div>
			</section>
			<section id="services">
						<div class="wrapper">

				<div class="column left">	
				<h1>Services</h1>
				<h2>Profit driven digital marketing services</h2>
				<p>One person digital ad services built for quick turnover and lasting results</p>
				</div>
				<div class="column right">
					<div class="service_icon"><img src="src/img/strategy-svgrepo-com.svg"></div>
					<h2>Consulting</h2>
<ul> <li>Available M-F, 8am - 6pm / EST Timezone</li> <li>Weekly detailed benchmark reports with a focus on profit</li> <li>Direct communication on the messaging platform of your choice</li> </ul>					
					<div class="service_icon"></div>
					<div class="service_icon"><img src="src/img/magnifying-glass-backup-svgrepo-com.svg"></div>

<h2>Audit & Training</h2>
<ul> <li>Performance audit of paid media accounts and landing pages.</li> <li>Set clear benchmarks for your specific goals to measure success</li> <li>Create strategic plans to incorporate with overall business goals</li> <li>Direct communication on the messaging platform of your choice</li> </ul>

				</div>


			</section>
						<section id="expertise">
						<div class="wrapper">
			<h1>Expertise</h1>
			<h2>Digital marketing knowledge for long-term sucess</h2>
			<p id="exp_subhead">Overview of tools and tactics that I have spend years working with.</p>
			<div id="exp_details">
			<div class="column left">	

<div class="exp_card"><h3>Search Engine Marketing</h3>
				<p>Google Ads. Google Local. PMax. Bing. SEO. AEO.</p></div>
<div class="exp_card"><h3>Paid Social</h3>
				<p>Facebook. Instagram. TikTok. LinkedIn. YouTube. X(Twitter).</p><br> <br> </div>
				</div>
								<div class="column right">	
<div class="exp_card"><h3>Analytics & Profit Generation</h3>
				<p>Google Analytics. Google Tags. Adobe Analyics. Looker Studio. SalesForce. Competitve Analysis. </p></div>
<div class="exp_card"><h3>Landing Page Optimization</h3>
				<p>Wordpress. Webflow. HTML/ SCSS </p></div>
				</div>
							 </div>
							 </div>
			</section> 
			<section id="process">
						<div class="wrapper">

				<div class="column left">
				<h1>What to expect</h1>
				<h2>A process built for success</h2></div>
				<div class="column right">
					<h3>1. Discovery call</h3>
					<p>We'll start with a in-depth discussion as to what your goals are and how my skill set can align with those goals. This conversation is necessary to ensure my services will lead to meaniful results.</p>
					<h3>2. Tailored project plan</h3>
					<p>Wether it is consulting or training, I will develop a detailed plan based on our conversation. We will set deadlines and clear goals.</p>
					<h3>3. Execution & support</h3>
					<p>Once the plan is approved, we move onto execution. For training & audits, we will set a time to discuss my findings and a plan to ensure success. For consulting, we will set regular cadence to ensure KPIs are being met.</p>
				</div>

				</section>


	
				<section id="competition">
				<div class="wrapper">

				<div class="column left">
				<h1>The Competition</h1>
				<h2>Me vs Them</h2>
				<p>I have over a decade experince in a variety of industries and have gone the always extra mile to bring lasting results. This is what sets me apart from my competitors.</p>

				</div>
				<div class="column right">

				<table>
  <tr>
    <th style="width:50%"></th>
    <th class="me">Me</th>
	<th class="them">Agencies</th>
    <th class="them">Employee</th>
  </tr>
  <tr>
    <td  class="me">Simple On-boarding</td>
    <td class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them">X</td>

  </tr>
  <tr>
    <td  class="me">Fixed scope & clear pricing</td>
    <td class="me">&check;</td>
    <td class="them">X</i></td>
	    <td class="them">?</td>

  </tr>
  <tr>
    <td  class="me">Direct communication</td>
    <td class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them">&check;</td>

  </tr>
  <tr>
    <td  class="me">No bloated teams & handoffs</td>
    <td  class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them">?</td>

  </tr>
  <tr>
    <td  class="me">Fast turnaround with no bottle neck</td>
    <td class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them">?</td>

  </tr>
  <tr>
    <td  class="me">Clear timeline</td>
    <td class="me">&check;</td>
    <td class="them">&check;</td>
	    <td class="them">?</td>

  </tr>
  <tr>
    <td  class="me">Profit focused results</td>
    <td class="me">&check;</td>
    <td class="them">?</td>
	    <td class="them">&check;</td>

  </tr>
  <tr>
    <td  class="me">No long-term commitments</td>
    <td class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them">?</td>

  </tr>
   <tr>
    <td  class="me">No training cost or time</td>
	<td class="me">&check;</td>
    <td class="them">?</td>
    <td class="them">X</td>
  </tr>
</table>
</div>
</div>

			</section>	
<section id="faq">
<div class="wrapper">
<div class="column left">
	<h1>FAQS</h1>
	<h2>Questions? Answered.</h2>

</div>
<div class="column right">
	<div class="accord_wrap">

<button class="accordion"><h3>Can you create and audit landing pages?</h3></button>
<div class="panel">
  <p>I work with designers and writers to create effective landing pages, blog post, or any type of web content. But in the absense of a designers or writers, I can create you landing page for you. I work with Wordpress, Webflow and I'm and expert in HTML/ SCSS.</p>
</div>
</div>
<div class="accord_wrap">
<button class="accordion"><h3>What does a successful paid media campaign look like?</h3></button>
<div class="panel">
  <p>I measure success primarily by ROAS (return on ad spend). In all of my effort, I want to make sure that campaigns are leading to measurable profits.</p>
</div>
</div>
<div class="accord_wrap">
<button class="accordion"><h3>Why choose you over a larger agency?</h3></button>
<div class="panel">
  <p>Unlike bigger companies, I give faster turnaround, personailized attention and cost effective solutions. You get direct access to a digital marketing expert who understand your business goals. </p>
</div>
</div>
<div class="accord_wrap">
<button class="accordion"><h3>Why 'Carolina Digital'?</button>
<div class="panel">
  <p>I am proud to say that Raleigh, NC is my home. Both North and South Carolina businesses and people have served me well. I want to return favor by serving the thriving business community of the Carolinas. </p>
</div>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
	</div>
	</div>

			</section>
			<section id="about">
						<div class="wrapper">

				<h1>About Me</h1>
				<h2>Quick professional summary</h2>
				<p>I started my digital marketing journey as a Google Ads consultant for small businesses. I then went on to work for agencies to expand my digital marketing knowledge. After 15 years of experience and a move to Raleigh, I decided to go the consultancy route. My focus is on helping businesses in the Raleigh, NC area but I work with business all over the world. <a>See my résumé</a></p>
			</div>
			</section>
			
<section id="contact">
			<div class="wrapper">

	<div class="column left">				
		<h2>Looking for a paid media partner? </h2>
				<p>jason@carolinadigital.co</p>
				<p>Get in touch to explore how I can help drive lasting growth.</p></div>
		<div class=" column right">
			<form method="POST" action="https://formspree.io/f/mrbqzgly">
					<input id="name" type="text" name="name" placeholder="Name" required />
			  
					<input id="email" type="email" name="email" placeholder="Email Address" required />
			  
					<textarea id="message" name="message" placeholder="Details" required></textarea>
			  
					<button id="sub_button" type="submit">Send Message</button>
				  </form>

		</div>
			  </section>
			  <footer>
						<div class="wrapper">
Site programmed in <a href="https://astro.build/" target="_blank">Astro</a> using <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>. Design shamelessly <a href="https://www.merriam-webster.com/dictionary/klepto" target="_blank">stolen</a> from many different designers. Site launched on <a href="https://www.cloudflare.com/" target="_blank">CloudFlare</a>. <br /><a>Cookie Policy.</a> <a>Privacy Policy.</a>
			 </div>
</footer>
	</body>
</html>
