---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { SITE_IMAGE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script>
			const sections = document.querySelectorAll("section");
const navLi = document.querySelectorAll("header nav ul li");
window.onscroll = () => {
  var current = "";

  sections.forEach((section) => {
    const sectionTop = section.offsetTop;
    if (pageYOffset >= sectionTop - 60) {
      current = section.getAttribute("id"); }
  });

  navLi.forEach((li) => {
    li.classList.remove("active");
    if (li.classList.contains(current)) {
      li.classList.add("active");
    }
  });
};
			</script>
	</head>
	<body>
<div class ="wrapper">
		<header class="column">
			<div>
			<h1>Greetings, I'm Jason</h1>
			<h2 class="head">Digital Marketing Specialist</h2>
			<p class="reg">
				I am a Raleigh, NC based paid search and paid social media expert. My primary focus is connecting ad spend to profit.
			</p>
			</div>
			<div>
			<nav>
				<ul>
					<li class="about active"><a href="#about"><span class="nav_hl"></span><span class="move_text">ABOUT</span></a></li>
					<li class="experience"><a href="#experience"><span class="nav_hl"></span><span class="move_text"></span>EXPERIENCE</span></a></li>
					<li class="services"><a href="#services"><span class="nav_hl"></span><span class="move_text"></span>SERVICES</span></a></li>
					<li class="contact"><a href="#contact"><span class="nav_hl"></span><span class="move_text"></span>CONTACT</span></a></li>
				</ul>				
			</nav>

		</div>
			<div class="social-links">
				<a href="https://www.linkedin.com/in/jthomas902" target="_blank">
					<span>LinkedIn</span>
				</a>
				<a href="https://github.com/jthomas216" target="_blank">
					<span>GitHub</span>
				</a>
			</div>
			
		</header>

			<main class="column">

			<section id="about">
				<h3 class="mobile_header">ABOUT</h3>
				<p class="reg">
					I started my digital marketing journey as a Google Ads consultant for small businesses. I then went on to work for agencies to expand my digital marketing knowledge. After 15 years of experience and a move to Raleigh, I decided to go the consultancy route. My focus is on helping businesses in the Raleigh, NC area but I work with business all over the world.
				</p>

			</section>
			<section id="experience">
				<h3 class="mobile_header">Experience</h3>

				<div class="exp_card">
					<div class="year">2023 - PRESENT</div>
					<div class="exp_detail">
						<h3>Digital Marketing Consultant &#x2022; Carolina Digital</h3>
						<p>Analyze clients’ digital marketing needs and create plans within budget with a focus on KPIs and ROI.  Provide periodic reporting to ensure KPIs are being met.</p>
						<div class="tech"><span class="exp">Google Ads</span><span class="exp">Google Analytics</span><span class="exp">SEM Rush</span><span class="exp">LinkedIn Ads</span><span class="exp">HTML & SCSS</span></div>
					</div>
				</div>
				<div class="exp_card">
					<div class="year">2021 - 2023</div>
					<div class="exp_detail">
						<h3>Paid Media Manager &#x2022; DemandScience</h3>
						<p>Developed paid media strategies and recommended keywords, channels and audiences to fit budget, business goals and benchmarks.  Executed strategies using paid media channels (predominantly using Google Ads, LinkedIn Ads and Meta Ads) to reach intended audience within budget.</p>
						<div class="tech"><span class="exp">Google Ads</span><span class="exp">Google Analytics</span><span class="exp">SEM Rush</span><span class="exp">LinkedIn Ads</span><span class="exp">SalesForce</span></div>
					</div>
				</div>
				<div class="exp_card">
					<div class="year">2014 - 2021</div>
					<div class="exp_detail">
						<h3>Digital Marketing Strategist &#x2022; Thomson Reuters (FindLaw)</h3>
						<p>Researched and implemented SEO and PPC strategy to maximize conversions for clients' websites. Managed projects including site launches, site revamps, social media, and PPC campaigns. Worked with internal teams to ensure clients expectations were being exceeded.
						</p>
						<div class="tech"><span class="exp">Google Ads</span><span class="exp">Google Analytics</span><span class="exp">SEM Rush</span><span class="exp">SalesForce</span><span class="exp">Kenshoo</span><span class="exp">Adobe Analytics</span></div>
					</div>
				</div>
				<div class="exp_card">
					<div class="year">2012 - 2014</div>
					<div class="exp_detail">
						<h3>Accounts Manager / e-Strategist &#x2022; Milestone Internet Marketing</h3>
						<p>Coordinated the production of clients’ website by consulting the client and providing internal teams the necessary research to produce SEO friendly content and design. Utilized SEO techniques, online directories, PPC and social networks to target clients’ intended audiences and maximize conversions.</p>
						<div class="tech"><span class="exp">Google Ads</span><span class="exp">SEO</span><span class="exp">Google Analytics</span><span class="exp">Adobe Analytics</span></div>
					</div>
				</div>
				<a class="resume" href="https://github.com/jthomas216/muddy-leaf-0254/blob/main/src/pages/Resume-1.pdf" target="blank"><span>Download Full Resume</span></a>
				</section>
			<section id="services">
				<h3 class="mobile_header">SERVICES</h3>

				<div class="exp_card">
					<div class="year">Consulting</div>
					<div class="exp_detail">
						<ul>
							<li>Available M-F, 8am - 6pm / EST Timezone</li>
							<li>Weekly detailed benchmark reports with a focus on profit</li>
							<li>Direct communication via Slack</li>
						</ul>
					</div>
				</div>
				<div class="exp_card">
					<div class="year">Audit & Training</div>
					<div class="exp_detail">
						<ul>
							<li>Performance audit of paid media accounts and landing pages.</li> 
							<li>Set clear benchmarks for your specific goals to measure success</li>
							<li>Create strategic plans to incorporate with overall business goals</li>
							<li>Direct communication via Slack</li>
						</ul>
					</div>
				</div>
			</section>
				
					
				

			
<section id="contact">
	<h3 class="mobile_header">CONTACT</h3>
	<div class="exp_card">
		<div class="year">I'm available for work. Contact me if you are looking for a consultant or need of an audit. &#8594;</div>
		<div class="exp_detail">
				<form method="POST" action="https://formspree.io/f/mrbqzgly">
					<input id="name" type="text" name="name" placeholder="name" required />
			  
					<input id="email" type="email" name="email" placeholder="email" required />
			  
					<textarea id="message" name="message" placeholder="message" required></textarea>
			  
					<button id="sub_button" type="submit">Submit</button>
				  </form>
		</div>
	</div>

			  </section>
			  <footer>Site programmed in <a href="https://astro.build/" target="_blank">Astro</a> using <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>. Design shamelessly <a href="https://www.merriam-webster.com/dictionary/klepto" target="_blank">stolen</a> from many different designers. Site launched on <a href="https://www.cloudflare.com/" target="_blank">CloudFlare</a>
			  </footer>
			  </main>
			  </div>
	</body>
</html>
