---

import BaseLayout from '/src/pages/layouts/BaseLayout.astro';

const pageTitle = "Carolina Digital - Privacy Policy";
const pageDescription = "I take seriously your privacy and regualtions"
const pageID = "privacy"
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription} pageID={pageID}>

	<section id="add_pages">
						<div class="wrapper">
                            						<div id="resume_wrapper">



<h2><span>Professional Summary&nbsp;</span></h2>
<p><span>Experienced digital marketing strategist and analyst with a technical background, certifications and over 10 years of experience. As a strategist, planned, implemented, and evaluated Internet advertising campaigns using SEO, PPC, display advertising, social media, and video ads. As an analyst, developed charts and reports for analytical and strategic collaboration with team members and stakeholders.&nbsp;</span></p>
<h2>Professional Employment Experience</h2>
<p><strong><span>Carolina Digital LLC Consulting Services - Remote</span></strong></p>
<div align="left">
    <table style="border: medium; border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td>
                    <p><em><span>Digital Marketing Consulting Services&nbsp;</span></em></p>
                </td>
                <td>
                    <p style="text-align: right;"><em><span>December 2023 - Present</span></em></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ul>
    <li style="list-style-type:disc;">
        <p><span>Analyze clients&rsquo; digital marketing needs and create plans within budget with a focus on KPIs and ROI</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Research and implement paid search ads using Google Ads and Microsoft Ads&nbsp;</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Plan and implement on-page, off-page and technical SEO services</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Create and execute paid social media campaigns using image and video ads</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Provide periodic reporting to ensure KPIs are being met</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Seek new clients using freelance websites and professional connections</span></p>
    </li>
</ul>
<p><br></p>
<p><em><span>Selected Project: SEO and Paid Media for&nbsp;</span></em><strong><em><span>Warner Communications</span></em></strong></p>
<ul>
    <li style="list-style-type:disc;">
        <p><span>Researched declining traffic from paid and organic sources and developed a detailed plan to make extensive changes which led to an 120% increase in MQLs and 56% increase in SQLs year-over-year</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Developed and implemented a SEO plan to address declining organic traffic resulting in Google becoming its leading source of traffic and conversions</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Implemented LinkedIn and Google Ads campaigns and made adjustments based upon results and budget</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Developed benchmarks in Looker Studio to ensure goals are being met</span></p>
    </li>
</ul>
<p><strong><span>DemandScience - Remote</span></strong></p>
<div align="left">
    <table style="border: medium; border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td>
                    <p><em><span>Paid Media Manager&nbsp;</span></em></p>
                </td>
                <td>
                    <p style="text-align: right;"><em><span>October 2022 - September 2023</span></em></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ul>
    <li style="list-style-type:disc;">
        <p><span>Developed paid media strategies and recommended keywords, channels and audiences to fit budget, business goals and benchmarks&nbsp;</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Executed strategies using paid media channels (predominantly using Google Ads, LinkedIn Ads and Meta Ads) to reach intended audience within budget</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Consistently evaluated campaigns and made adjustments to fit business goals and changing needs &nbsp;</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Tracked Salesforce data, evaluated internal marketing efforts and researched competitors to find room for opportunity</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Periodically reviewed campaign performance with managers and stakeholders to adjust strategies</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><em><span>Key Accomplishment: </span></em><span>Organized campaigns&rsquo; content and strategy around marketing funnels to reach potential buyers more strategically, which led to a 212% increase in MQLs year-over-year</span></p>
    </li>
</ul>
<p><br></p>
<div align="left">
    <table style="border: medium; border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td>
                    <p><em><span>Digital Marketing Manager&nbsp;</span></em></p>
                </td>
                <td>
                    <p style="text-align: right;"><em><span>July 2021 - October 2022</span></em></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ul>
    <li style="list-style-type:disc;">
        <p><span>Collaborated with team members to plan and implement multichannel and multinational digital marketing campaigns</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Provided teams with analytics of campaign and channel performance to improve our strategies&nbsp;</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Maintained and improved the company&rsquo;s presence on search engines, review sites, social media and directories</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Managed our reputation across multiple review sites and made sure all company information was up to date and consistent with our brand</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Consistently evaluated our marketing efforts and our competitor&rsquo;s activities to find opportunity for growth</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><em><span>Key Accomplishment</span></em><span>: Developed processes and clear benchmarks to track all marketing efforts which led to better reporting, increased collaboration and more strategic decisions</span></p>
    </li>
</ul>
<p><br></p>
<p><strong><span>Thomson Reuters (FindLaw) - Remote</span></strong></p>
<div align="left">
    <table style="border: medium; border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td>
                    <p><em><span>Digital Marketing Strategist&nbsp;</span></em></p>
                </td>
                <td>
                    <p style="text-align: right;"><em><span>July 2014 - April 2021</span></em></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ul>
    <li style="list-style-type:disc;">
        <p><span>Researched and implemented SEO and PPC strategy to maximize conversions for clients&apos; websites</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Managed projects including site launches, site revamps, social media, and PPC campaigns&nbsp;</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Worked with internal teams to ensure clients expectations were being exceeded</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Periodically met with clients to discuss performance, ROI, and additional plans to increase conversions</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Recommended additional FindLaw products and marketing channels to complement client&rsquo;s strategy whenever necessary</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Assisted in improving company&rsquo;s productivity by onboarding and training new employees and researching additional tools to improve efficiency</span></p>
    </li>
</ul>
<p><br></p>
<p><strong><span>Milestone Internet Marketing - Santa Clara, CA</span></strong></p>
<div align="left">
    <table style="border: medium; border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td>
                    <p><em><span>Accounts Manager / e-Strategist &nbsp;</span></em></p>
                </td>
                <td>
                    <p style="text-align: right;"><em><span>January 2012 &ndash; July 2014</span></em></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ul>
    <li style="list-style-type:disc;">
        <p><span>Coordinated the production of clients&rsquo; website by consulting the client and providing internal teams the necessary research to produce SEO friendly content and design</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Utilized SEO techniques, online directories, PPC and social networks to target clients&rsquo; intended audiences and maximize conversions&nbsp;</span></p>
    </li>
    <li style="list-style-type:disc;">
        <p><span>Continually monitored performance of clients&rsquo; website by analyzing incoming traffic to find new opportunity for promotion &nbsp;</span></p>
    </li>
</ul>
<p><strong><span>&nbsp; &nbsp;&nbsp;</span></strong><strong><span>&nbsp; &nbsp;&nbsp;</span></strong><strong><span>&nbsp; &nbsp;&nbsp;</span></strong><strong><span>&nbsp; &nbsp;&nbsp;</span></strong><strong><span>&nbsp; &nbsp;&nbsp;</span></strong><strong><span>&nbsp; &nbsp;&nbsp;</span></strong><strong><span>&nbsp; &nbsp;&nbsp;</span></strong><strong><span>&nbsp; &nbsp;</span></strong></p>
<h2>Education</h2>
<p><strong><span>San Jos&eacute; State University &ndash;</span></strong><span>&nbsp;San Jos&eacute;, CA</span></p>
<p><span>Masters of Science - Mass Communications</span></p>
<p><strong><span>University of Cincinnati &ndash;&nbsp;</span></strong><span>Cincinnati, OH</span></p>
<p><span>Bachelor of Fine Arts - Electronic Media</span></p>
<h2>Competencies and Skills</h2>
<p><strong><span>Fundamental Skills:&nbsp;</span></strong><span>Search engine marketing, social media marketing, display advertising, web analytics, web programming (html5/ css), project management, client management&nbsp;</span><span><br></span><strong><span>Software Proficiency:&nbsp;</span></strong><span>Google Ads (Certified), SA360 (Certified), Microsoft Search Ads (Certified), LinkedIn Ads (Certified), Meta Ads, Looker Studio, SalesForce, Asana, Adobe Analytics, Google Analytics (Certified), Google Tag Manager, SEMRush</span></p>
        </div>                 
</div>
<a href="">
</section>
</BaseLayout>