
:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");


}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  line-height: 1.3;
  background-color: #f5f5f5;
 

}
html {
  scroll-behavior: smooth;
}
#about h2, #services h2, #intro h1, #expertise h2, #process h2, #competition h2, #faq h2 {
  color: black;
  font-weight: 400;
  font-size: clamp(1.4rem, 1.3375rem + 1vw, 1.9rem);
  text-transform: uppercase;
}
#about h2, #services h2, #intro h1, #expertise h2, #process h2, #competition h2 , #faq h2 {
   background-image:  url("/src/img/main-component-svgrepo-com.svg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom left;
   display: block;
   background-size: 40px 40px;
   padding-left: 50px;
   background-position: 0% 0%; 
}
#about h3, #intro h2, #intro_2 h2, #services h3, #expertise h3, #process h3, #competition h3, #faq h3 {
  font-size: clamp(2rem, 1.304rem + 3.478vw, 4rem);
  font-weight: 400; 
  text-align: left;
  color: #004aad;
  width: 100%;
}
#process h4, #faq h4 {
  font-weight: 400; 
  text-align: left;
  color: #004aad;
  font-size: clamp(1.5rem, 0.978rem + 2.609vw, 3rem);
  margin: 0px;
  padding-top: inherit;
}
#services .right h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
#about p, #intro p, #services p, #services ul li,  #expertise p#exp_subhead, #process .wrapper p, #competition p, #faq p {
  font-size: clamp(1.2rem, 0.922rem + 1.391vw, 2rem);
  font-weight: normal; 
  text-align: left;
  color: #004aad;
  z-index: 100;
  position: relative;
}
#competition p, .intro_2_item {
    background-color: #CCDFF1;

}
#process .wrapper .column {
    padding-right: 40px;
}
.serv_details {
  font-size: clamp(1.2rem, 0.922rem + 1.391vw, 2rem);
  font-weight: normal; 
  color: #004aad;
  vertical-align: text-top;
}
.me {
  font-size: clamp(1.2rem, 0.922rem + 1.391vw, 2rem);
  font-weight: normal; 
  text-align: center;
  color: #004aad;

}
.them {
  font-size: clamp(1.2rem, 0.922rem + 1.391vw, 2rem);
  font-weight: normal; 
  color: #53739d;
    text-align: center;

}
#expertise h4, #expertise p {
    color: #004aad;
}
.exp_card {
  background-color: #f5f5f5;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 15px;
  width: 400px; 
  display: block;
  margin-bottom: 30px;
} 
.exp_card h4 {
  font-size: 1.4em;
  font-weight: normal;
}
.exp_card p {
  font-size: clamp(1.2rem, 0.922rem + 1.391vw, 2rem);
}
.wrapper {
  padding-top: 75px;
}
#services ul {
  padding: 0px;
  margin: 0px;
list-style-position: inside;
}
#services ul:first-of-type {
  padding-bottom: 100px;
}
section#services .wrapper .left {
  padding-right: 50px;
}

#contact h2, #contact p {
  color: #f5f5f5;
    font-size: clamp(1.5rem, 1.326rem + 0.87vw, 2rem);
  font-weight: 500; 
  text-align: left;
}
section#services .right img {
  width: 70px;
  padding-bottom: 20px;
}
section#contact {
  background-color: #004aad;
}
section#intro_2, section#expertise, section#competition, section#about {
  background-color: #CCDFF1;
}
section .wrapper, footer .wrapper {
  width: 80%;
    margin: 0 auto;

}
#contact .wrapper, #services .wrapper, #exp_details, #process .wrapper, #competition .wrapper, #faq .wrapper {
  display: flex;
  flex-direction: row;

}
#exp_details .column  {
  display: flex;
  flex-direction: column;
  width: 33%;
}
#process .wrapper .column, #competition .wrapper .column, #services .wrapper .column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
 #competition .wrapper .column {
  padding-right: 100px;
 }
#faq .wrapper .column {
  display: flex;
  flex-direction: column;
}
#faq .wrapper .right {
  flex-basis: 60%;
}
#faq .wrapper .left {
  flex-basis: 40%;
}
#exp_details .right {
  padding-left: 30px;
}


#contact h2 {
  margin: 0px;
  width:80%;
}
#contact p {
  width:80%;
}
#cd_logo img, #cd_logo span {
  float: left;
}
#cd_logo {
  float: left;
}
.intro_2_item {
  width: 100%;
  display: flex;
}
.intro_2_item .column {
  flex-basis: auto;
}
.bracketed-list, .bracketed-content p {
    color: #004aad;
}
.bracketed-list {
  font-size: clamp(1.2rem, 0.922rem + 1.391vw, 2rem);
  width: max-content;
}
.bracketed-content p {
  font-size: clamp(2rem, 1.304rem + 3.478vw, 4rem);
  margin: 0px;
  padding: 0px;
}
.bracketed-content {
  padding-left: 30px;
}
.intro_2_list {
  width: 75%;
}    

/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
}*/
header, section#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header .column {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: center;
}
section#contact .column {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

nav {
  margin-left: auto;
}
nav a {
  text-decoration: none;
    color: #004aad;  
    font-size: clamp(1.4rem, 1.3875rem + 0.2vw, 1.5rem);
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
    display: inline;
}
nav a.active {
  text-decoration: none;
}
span#company_name {
  color:#004aad;
  font-weight: bold;
  line-height: 40px;
  align-items: center;
  height: 40px;
  display: flex;
  padding-left: 10px;
  font-size: clamp(1.4rem, 1.3875rem + 0.2vw, 1.5rem);
}

main {
  overflow-y: auto;    
}


span.move_text{
  padding-right: 20px;
}
section, footer {
  display: flex;  
  flex-wrap: wrap;
  padding-bottom: 100px;
  width: 100%;
}
footer {
  margin: 0 auto;
}
input#name, input#email, textarea#message {
  width: 100%;
    border-left: none;
  border-right: none;
  border-top: none;  
  border-bottom: 2px solid;
  border-bottom-color: #f5f5f5;
 margin-bottom: 30px;
 margin-top: 30px;

}
button#sub_button {
  background: none;
  text-align: left;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid;
  border-bottom-color: #f5f5f5;

}
button#sub_button:focus, button#sub_button::placeholder {
  border-bottom-color: #f5f5f5;
    border-left: none;
  border-right: none;
}
form {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: #f5f5f5;
  background-color: #004aad;  
  padding: 0px;
}
 form, input#name, input#email, textarea#message, button#sub_button {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.5rem, 1.326rem + 0.87vw, 2rem);
  font-weight: 500; 
  color: #f5f5f5;
 background-color: #004aad; 
 padding: 0px; 
 cursor: pointer;

 }

textarea:focus, input:focus {
    color: #f5f5f5;
      border-left: none;
  border-right: none;
}
textarea::placeholder, input::placeholder {
      color: #f5f5f5;
      background-color: #004aad;
        border-left: none;
  border-right: none;


}
footer {
      color: #f5f5f5;
      padding-bottom: 50px;
      background-color: #004aad;  
      
}
footer a {
        color: #f5f5f5;
        text-decoration: underline;

}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: auto;
}

section#competition table th, section#competition table td {
  text-align: center;
  padding: 16px;
}
section#services table th, section#services table td {
  text-align: left;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}
.accord_faq {
  color: #444;
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.accord_faq h4 {
  background-image: url("/src/img/plus-square-svgrepo-com.svg");
  background-position: right 5% top 50%;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  padding-right: 100px;
}
.service_details_btn {
  font-size: clamp(1.2rem, 0.922rem + 1.391vw, 2rem);
  font-weight: normal;
  text-align: left;
  color: #004aad;
  z-index: 100;
  position: relative;
}
.service_details_btn h4 {
  background-image: url("/src/img/plus-square-svgrepo-com.svg");
  background-position: right 5% top 50%;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  padding-right: 100px;
  margin-top: 0px;
}
.accord_wrap .active h4 {
  background-image: url("/src/img/minus-square-svgrepo-com.svg");
  background-position: right 5% top 50%;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  padding-right: 100px;
}
.accord_wrap_serv_details .active h4 {
  background-image: url("/src/img/minus-square-svgrepo-com.svg");
  background-position: right 5% top 50%;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  padding-right: 100px;
}


section#faq button, section#services button {
background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
  }

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accord_wrap {
  border-bottom: 1px dotted #004aad;
}
.accord_wrap_serv_details {
  border-bottom: 1px dotted #004aad;
  margin-bottom: 20px;
}
section#contact a {
  text-decoration: none;
  color:#f5f5f5;
  border-bottom: #f5f5f5 dotted 1px;
}
a#resume {
  text-decoration: none;
  color:#004aad;
  border-bottom: #004aad dotted 1px;
}

body#privacy h1, body#privacy h2, body#privacy h3, body#privacy h4, body#privacy p, body#privacy li, body#privacy #add_pages a, body#privacy ul {
      color: #004aad;  
}
body#privacy section#add_pages {
  background-color: #CCDFF1;
}
#resume_wrapper {
  width: 60%;
  margin: 0 auto;
}
 aside {
    position: sticky;
    top: 1rem; 
  }
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }



    .scroll-section {
        display: block;
        opacity: 0;
    }
    .scroll-sectionv2 {
        display: block;
        opacity: 0;
    }
 section#process .right,  section#services .wrapper .right, section#faq .right {
  background-color:#f5f5f5;
  z-index: 1;
 }
#contact_info {
  background-color: #004aad;
  z-index: 1;
}
section#services {
  background-color: #f5f5f5;
}
a.serv_contact {
  text-decoration: underline;
  color: #004aad;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) { /* Adjust breakpoint as needed */
 nav {
  margin: 0px auto;
  padding-top: 30px;
 }
 
 #cd_logo {
  margin: 0 auto;
}
 
  section .wrapper, footer .wrapper {
    width: 95%;
  }
  #services .wrapper, #exp_details, #process .wrapper, #competition .wrapper, #faq .wrapper, #contact .wrapper, header {
    flex-direction: column;  
  }

  section#services .wrapper .left {
    padding-right: 0px;
  }
  .exp_card {
    width: 100%;
    box-sizing: border-box;
  }
  #exp_details .column {
    width: 100%;
  }
  #exp_details .right {
  padding-left: 0px;
}
section#competition table th, section#competition table td {
  text-align: center;
  padding: 5px;
}
section#services table th, section#services table td {
  text-align: left;
  padding: 5px;
}
.employee {
  display: none;

}

#about h2, #services h2, #intro h1, #expertise h2, #process h2, #competition h2, #faq h2 {
  background-size: 30px 30px;
    padding-left:35px;

}
#process .wrapper .column {
    padding-right: 0px;
}
#resume_wrapper {
  width: 90%;
}
section, footer {padding-bottom: 50px;}
section#services {
  position: relative;
  z-index: 200;
}
.scroll-section, .scroll-sectionv2 {
  filter: none !important;
  transform: none !important;
  opacity: 1 !important;
  animation: none !important;
}
#competition .wrapper .column {
  padding-right: 0px;
}

}